.body-container {
    min-height: calc(100vh - 128px);
    background-color: #f9f4cb;
    display: flex;
}

.markdown-editor {
    flex-basis: 50%;
}

.markdown-preview {
    flex-basis: 50%;
    height: calc(100vh - 129px);
    overflow: auto;
    padding: 1em;
}

.markdown-editor .mde-text {
    height: calc(100vh - 179px) !important;
}

.upload-image {
    vertical-align: -0.125em !important;
}